@import url("chrome://global/skin/global.css");

.warnCP {
	outline: 2px dashed yellow;
	outline-offset: 1px;
	-moz-outline-radius: 12px;
}
.panicCP {
	outline: 2px dashed red;
	outline-offset: 1px;
	-moz-outline-radius: 12px;
}
.infoCP {
	font-size: 140%;
	border: none;
}

.old {
  color: darkred;
}
.old:before {
  width: 12px;
  float: left;
  text-align: center;
  content: "\002013";
}
.new {
  color: darkgreen;
}
.new:before {
  width: 12px;
  float: left;
  text-align: center;
  content: "+";
}
